[submodule "mpv-video"]
	path = mpv-video
	url = https://github.com/allentown521/mpv-video.git
[submodule "searchpreference"]
	path = searchpreference
	url = https://github.com/allentown521/searchpreference.git
[submodule "focus-themecore"]
	path = focus-themecore
	url = https://github.com/allentown521/focus-themecore.git
[submodule "focus-purchase"]
	path = focus-purchase
	url = https://github.com/allentown521/focus-purchase.git
[submodule "focus-common"]
	path = focus-common
	url = https://github.com/allentown521/focus-common.git
