# For steps to creating an application, view the Readme.md
# Rename to secrets.properties
#


#
# Create a giphy key to search gif on giphy.com, optional
#
GIPHY_KEY="****"

# Create your own keystore file in app folder
storeFile=./FocusMastodon.jks
storePassword=***
keyAlias=***
keyPassword=***

# leave it blank
googleAdsKey=
