# For steps to creating an application, view the Readme.md
# Rename to secrets.properties

# Create your own keystore file in app folder
storeFile=./FocusMastodon.jks
storePassword=
keyAlias=
keyPassword=
googlePayPublicKey="no-need"


#
# Create a giphy key to search gif on giphy.com, optional
#
GIPHY_KEY="****"


googleAdsKey=no-need
leanId="no-need"
leanKey="no-need"
leanAbroadId="no-need"
leanAbroadKey="no-need"