<?xml version="1.0" encoding="utf-8"?>

<!--


  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="android.support.customtabs" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEOS" />
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- http://android-developers.blogspot.com/2016/05/bring-your-android-app-to-chromebooks.html -->
    <!-- http://www.chromium.org/chromium-os/android-apps -->
    <!-- https://commonsware.com/blog/2016/05/25/getting-ready-for-chromeos.html -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.software.app_widget"
        android:required="false" />
    <application
        android:name="allen.town.focus.twitter.data.App"
        android:appCategory="social"
        android:fullBackupContent="@xml/backup_content"
        android:hardwareAccelerated="true"
        android:localeConfig="@xml/locales"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="false"
        android:resizeableActivity="true"
        android:theme="@style/Theme.Focus_for_Mastodon.Splash"
        android:supportsRtl="true"
        tools:replace="android:fullBackupContent">
        <!--android:roundIcon="@mipmap/ic_launcher_round"-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <provider
            android:name="allen.town.focus.twitter.data.sq_lite.HomeContentProvider"
            android:authorities="${applicationId}.home.provider"
            android:exported="true"
            android:multiprocess="true" />
        <activity
            android:name="allen.town.focus.twitter.activities.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="allen.town.focus.twitter.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:theme="@style/Theme.Focus_for_MastodonLight.Main" />

        <activity
            android:name="allen.town.focus.twitter.activities.GiphySearch"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name="allen.town.focus.twitter.activities.media_viewer.image.ImageViewerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.ImageViewer" />

        <activity
            android:name="allen.town.focus.twitter.activities.media_viewer.VideoViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true"
            android:theme="@style/DragDismissTheme" />

        <activity
            android:name="allen.town.focus.twitter.activities.media_viewer.YouTubeViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:exported="false"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.PhotoViewerBlack" />


        <activity
            android:name="allen.town.focus.twitter.activities.drawer_activities.lists.ViewUsers"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/favorite_users"

            android:windowSoftInputMode="adjustResize" />



        <activity
            android:name="allen.town.focus.twitter.activities.scheduled_tweets.NewScheduledTweet"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/scheduled_tweets"

            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="allen.town.focus.twitter.activities.scheduled_tweets.ViewScheduledTweets"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/scheduled_tweets"

            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="allen.town.focus.twitter.activities.drawer_activities.lists.ChoosenListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/lists"

            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="allen.town.focus.twitter.settings.configure_pages.ConfigurePagerActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name="allen.town.focus.twitter.settings.configure_pages.ListChooser"
            android:exported="false"
            android:label="@string/lists"
             />

        <activity
            android:name="allen.town.focus.twitter.settings.configure_pages.UserChooser"
            android:exported="false"
            android:label="@string/user_tweets"

            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name="allen.town.focus.twitter.activities.search.SearchPager"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"

            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter.com"
                    android:scheme="http" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mobile.twitter.com"
                    android:scheme="http" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter.com"
                    android:scheme="https" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mobile.twitter.com"
                    android:scheme="https" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.twitter.com"
                    android:scheme="http" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mobile.twitter.com"
                    android:scheme="http" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.twitter.com"
                    android:scheme="https" />
                <data android:pathPattern=".*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mobile.twitter.com"
                    android:scheme="https" />
                <data android:pathPattern=".*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="allen.town.focus.twitter.activities.drawer_activities.discover.trends.SearchedTrendsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/trends"
            android:launchMode="singleTop"

            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="allen.town.focus.twitter.activities.drawer_activities.discover.trends.LauncherSearchedTrends"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/trends"
            android:launchMode="singleInstance"

            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="allen.town.focus.twitter.activities.setup.material_login.MaterialLogin"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name="allen.town.focus.twitter.activities.BrowserActivity"
            android:exported="false"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="allen.town.focus.twitter.activities.MainActivityPopup"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Focus_for_MastodonLight.NoActionBar.Popup"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RefreshNotificationsRedirect"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RedirectToPopup"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RedirectToMyAccount"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RedirectToSecondAccount"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RedirectToTweetViewer"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RedirectToTimeline"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RedirectToMentions"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RedirectToFavoriteUsers"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RedirectToDMs"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RedirectToActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.RedirectToDrawer"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.SwitchAccountsRedirect"
            android:exported="false"
            android:label="@string/app_name"
             />

        <activity
            android:name="allen.town.focus.twitter.utils.redirects.SwitchAccountsToActivity"
            android:exported="false"
            android:label="@string/app_name"
             />

        <activity
            android:name="allen.town.focus.twitter.activities.compose.ComposeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/DragDismissTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name="allen.town.focus.twitter.activities.compose.ComposeSecAccActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Focus_for_MastodonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name="allen.town.focus.twitter.activities.compose.NotificationCompose"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/DragDismissTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name="allen.town.focus.twitter.activities.compose.NotificationComposeSecondAcc"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/DragDismissTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />


        <activity
            android:name="allen.town.focus.twitter.activities.compose.RetryCompose"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/DragDismissTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <activity
            android:name="allen.town.focus.twitter.activities.compose.WidgetCompose"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/DragDismissTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name="allen.town.focus.twitter.activities.compose.LauncherCompose"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/DragDismissTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />


        <activity
            android:name="allen.town.focus.twitter.activities.tweet_viewer.TweetActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/DragDismissTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />


        <activity android:name="allen.town.focus.activities.PurchaseActivity" />
        <activity
            android:name="allen.town.focus.twitter.activities.tweet_viewer.TweetActivityWidget"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/DragDismissTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.activities.profile_viewer.ProfilePager"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/DragDismissTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name="allen.town.focus.twitter.settings.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/Focus_for_Mastodon_settings"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <service
            android:name="allen.town.focus.twitter.services.NotificationListener"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.ComposeTileService"
            android:exported="true"
            android:icon="@drawable/ic_stat_icon"
            android:label="@string/menu_compose"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Firebase Dispatcher Jobs -->
        <service
            android:name="allen.town.focus.twitter.services.DataCheckService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.background_refresh.TimelineRefreshService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.PreCacheService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.background_refresh.ListRefreshService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.background_refresh.MentionsRefreshService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.background_refresh.DirectMessageRefreshService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.background_refresh.ActivityRefreshService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.TrimDataService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.SendQueueService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.background_refresh.SecondDMRefreshService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.background_refresh.SecondActivityRefreshService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.background_refresh.SecondMentionsRefreshService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name="allen.town.focus.twitter.services.FavoriteTweetService"
            android:exported="false" />
        <service
            android:name="allen.town.focus.twitter.services.RetweetService"
            android:exported="false" />
        <service
            android:name="allen.town.focus.twitter.services.ReplyFromWearService"
            android:exported="false" />
        <service
            android:name="allen.town.focus.twitter.services.ReplySecondAccountFromWearService"
            android:exported="false" />
        <service
            android:name="allen.town.focus.twitter.services.MarkReadService"
            android:exported="false" />
        <service
            android:name="allen.town.focus.twitter.services.MarkReadSecondAccService"
            android:exported="false" />
        <service
            android:name="allen.town.focus.twitter.services.ReadInteractionsService"
            android:exported="false" />
        <service
            android:name="allen.town.focus.twitter.services.background_refresh.WidgetRefreshService"
            android:exported="false" />

        <receiver
            android:name="allen.town.focus.twitter.receivers.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="allen.town.focus.twitter.services.SendScheduledTweet"
            android:exported="false" />

        <receiver
            android:name="allen.town.focus.twitter.receivers.MarkMentionReadReceiver"
            android:exported="false" />

        <receiver
            android:name="allen.town.focus.twitter.receivers.NotificationDeleteReceiverOne"
            android:exported="true" />

        <receiver
            android:name="allen.town.focus.twitter.receivers.NotificationDeleteReceiverTwo"
            android:exported="true" />

        <provider
            android:name="allen.town.focus.twitter.utils.MySuggestionsProvider"
            android:authorities="${applicationId}.suggest.provider"
            android:exported="false" />

        <!-- Widget -->
        <receiver
            android:name="allen.town.focus.twitter.widget.timeline.TimelineWidgetProvider"
            android:exported="true"
            android:label="@string/Focus_for_Mastodon_large_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_timeline" />
        </receiver>

        <!-- unread widget -->
        <receiver
            android:name="allen.town.focus.twitter.widget.UnreadWidgetProvider"
            android:exported="true"
            android:label="@string/unread_bar_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_unread" />
        </receiver>


        <service
            android:name="allen.town.focus.twitter.widget.timeline.TimelineWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="allen.town.focus.twitter.widget.UnreadWidgetProvider$UnreadWidgetService"
            android:exported="false" />

        <!-- DashClock -->

        <activity android:name="allen.town.focus.twitter.activities.OAuthActivity" android:exported="true" android:configChanges="orientation|screenSize" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="focus-mastodon-android-auth" android:host="callback"/>
                <data android:scheme="mastodon-android-auth" android:host="callback"/>
            </intent-filter>
        </activity>

        <activity android:name="allen.town.focus.twitter.activities.AccountListActivity" />
        <activity android:name="allen.town.focus.twitter.activities.filters.FiltersActivity" />
        <activity android:name="allen.town.focus.twitter.activities.filters.EditFilterActivity" />

    </application>
</manifest>
